.main-container {
  overflow: hidden;
  background-color: var(--p-surface-100);
  height: 100vh;
}

.app-container {
  height: calc(100vh - (var(--spacing) * 16));
  min-height: 100%;
  overflow: hidden;
}

.app-content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--p-surface-0);
}
