<!-- <p-splitter
  [panelSizes]="[25, 75]"
  [style]="{ height: '300px' }"
  styleClass="mb-8"
>
  <ng-template pTemplate>
    <div class="flex items-center justify-center h-full">Panel 2</div>
  </ng-template>

  <ng-template pTemplate>
    <p-button label="Click me" />
    <div class="flex items-center justify-center h-full">Panel 2</div>
  </ng-template>
</p-splitter> -->

<div class="card flex justify-center">
  <p-drawer
    [(visible)]="visible"
    header="Drawer"
    [closable]="false"
    dismissible="false"
    transitionOptions="null"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </p-drawer>
  <p-button (click)="visible = true" icon="pi pi-arrow-right" />
</div>
