<div class="pt-10 w-2/5 max-w-[250px]">
  <p-button
    label="Overview"
    class="menu-btn mb-10"
    fluid
    text
    severity="contrast"
    (onClick)="goTo('overview')"
    [class]="isActive('/overview')"
  />
  <p-button
    label="Listen"
    class="menu-btn"
    fluid
    text
    severity="contrast"
    (onClick)="goTo('listen')"
    [class]="isActive('/listen')"
  />
  <p-button
    label="Recordings"
    class="menu-btn"
    fluid
    text
    severity="contrast"
    [class]="isActive('/recordings')"
  />
  <p-button
    label="Events"
    class="menu-btn"
    fluid
    text
    severity="contrast"
    [class]="isActive('/events')"
  />
  <p-button
    label="Stats"
    class="menu-btn"
    fluid
    text
    severity="contrast"
    [class]="isActive('/stats')"
  />
  <p-button
    label="Settings"
    class="menu-btn"
    fluid
    text
    severity="contrast"
    [class]="isActive('/settings')"
  />
</div>
